@use 'var' as *;

body.filharmonie-page {
  padding: 0;
}

body.filharmonie-page main {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#filharmonie-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
  aspect-ratio: 1 / 1.414;
  overflow: hidden;
  border: 1px solid $color-primary;

  canvas {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

